.cover__link {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: calc(50% - 280px);
    top: calc(50% - 125px);
    text-decoration: none;
    margin: 0;
}