.place__title {
    font-family: Inter, Arial, sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    text-align: left;
    max-width: 460px;
    margin: 0;
    color: rgba(255, 255, 255, 1);
    grid-column-start: 1;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__title {
        max-width: 440px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }
}

@media screen and (max-width: 767px) {
    .place__title {
        max-width: 100%;
        font-size: 32px;
        line-height: 35px;
    }
}