.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 16px;
    margin: 92px 48px 0;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .photo-grid {
        margin: 92px 48px 0;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .photo-grid {
        margin: 88px 24px 0;
    }
}

@media screen and (max-width: 768px) {
    .photo-grid {
        margin: 64px 16px 0;
    }
}