.main {
    box-sizing: border-box;
    padding: 56px 0 92px;
}

@media screen and (min-width: 1024px) {
    .main {
        padding: 56px 0 92px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .main {
        padding: 48px 0 88px;
    }
}

@media screen and (max-width: 768px) {
    .main {
        padding: 48px 0 64px;
    }
}