.cover__subtitle {
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    max-width: 360px;
    margin: auto;
}

@media screen and (max-width: 767px) {
    .cover__subtitle {
        font-size: 14px;
        line-height: 16px;
        max-width: 288px;
    }
}