.header__link {
    font-family: Inter, Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: right;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .header__link {
        font-size: 18px;
        line-height: 20px;
    }
}

.header__link:hover {
    opacity: 0.8;
}