.place__paragraph {
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 163%;
    text-align: left;
    max-width: 484px;
    margin: 0;
    color: rgba(255, 255, 255, 1);
}

.place__paragraph:not(:last-child) {
    margin-bottom: 26px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place__paragraph {
        max-width: 456px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place__paragraph {
        max-width: 352px;
        font-size: 16px;
        line-height: 26px;
    }
}

@media screen and (max-width: 767px) {
    .place__paragraph:first-child {
        margin-top: 32px;
    }
    .place__paragraph {
        max-width: 100%;
        font-size: 16px;
        line-height: 26px;
        font-family: Inter;
        margin-top: 25px;
    }
}