.intro__text {
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    max-width: 690px;
    margin: 40px 0 0;
}