.lead__subtitle {
    font-family: Inter, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    margin: 0 auto;
    max-width: 640px;
    color: rgba(255, 255, 255, 1);
    padding-top: 32px;
}

@media screen and (max-width: 767px) {
    .lead__subtitle {
        font-size: 16px;
        line-height: 20px;
        max-width: 288px;
        padding-top: 16px;
    }
}