.place__link {
    font-family: Inter, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: rgba(255, 255, 255, 1);
}

.place__link:hover {
    opacity: 0.8;
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
    .place__link {
        max-width: 456px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .place__link {
        max-width: 352px;
    }
}

@media screen and (max-width: 767px) {
    .place__link {
        margin-top: 12px;
        max-width: 100%;
    }
}