.cover__title {
    font-family: Inter, Arial, sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    letter-spacing: 0em;
    color: rgba(255, 255, 255, 1);
    max-width: 560px;
    margin: 0 0 32px;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
        margin: 0 0 16px;
    }
}