.place:first-child() {
    margin: 0;
}

.place {
    margin: 80px 0 0;
    display: grid;
    grid-template-columns: 460px 484px;
    grid-column-gap: 40px;
    grid-row-gap: 48px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .place {
        grid-template-columns: 440px 456px;
        grid-row-gap: 32px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .place {
        margin: 73px 0 0;
        grid-template-columns: 340px 352px;
        grid-row-gap: 28px;
    }
}

@media screen and (max-width: 767px) {
    .place {
        display: block;
        margin: 50px 0 0;
    }
}