.place__url-heading {
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20.4px;
    letter-spacing: 2px;
    text-align: left;
    color: rgba(170, 170, 170, 1);
}

@media screen and (max-width: 767px) {
    .place__url-heading {
        font-size: 12px;
        line-height: 12px;
    }
}